:root{

    --color-light:#FFFFFF;
    --color-dark:#0E0E0E;
    --color-gray:#EDEDED;
    --color-dark-gray:#1D1D1D;
    --color-red-alt:#C53720;
     --color-green:#5d8c56;
    --color-green-alt:#159446;
    --color-green-light:#00ff0c;


    --border: 4px solid #159446;

    --container-width:1128px;
    --container-padding-x:20px;

    --section-base-padding-y:15px;
    --section-large-padding-y:15px;

    --font-family-base:'Geometria',sans-serif;

    --button-height: 52px;
    --button-large-height:56px;
    --button-small-height: 40px;
    

    --transition-duration: 0.2s;

}