:root{

    --color-light:#FFFFFF;
    --color-dark:#0E0E0E;
    --color-gray:#EDEDED;
    --color-dark-gray:#1D1D1D;
    --color-red-alt:#C53720;

    --border: 4px solid #c53720;

    --container-width:1128px;
    --container-padding-x:20px;

    --section-base-padding-y:88px;
    --section-large-padding-y:98px;

    --font-family-base:'Geometria',sans-serif;

    --button-height: 52px;
    --button-large-height:56px;
    --button-small-height: 40px;
    

    --transition-duration: 0.2s;

}