.about-us{


    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 24px;

    @include mobile{
        flex-direction: column;
        row-gap: 24px;
    }




    &__image-wrapper{
        position: relative;
        width: 360px;
        height: 347px;
        flex-shrink: 0;

        @include mobile{
            align-self: center;
        }
    }

    &__image{
        clip-path: url(#about-us);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

    }

    &__button{
        @include mobile-s{
            align-self: center;
        }
    }


        &__info{
        max-width: 744px;
        border: var(--border);
        font-size: 16px;
        min-height: 255px;
        align-self: start;
        padding: 32px;
        padding-bottom: 43px;

        @include tablet{
            padding: 15px;
            padding-bottom: 30px;
        }

        @include mobile-s{
            display: flex;
            flex-direction: column;
        }

        
    }

        &__paragraph{
            margin-bottom: 28px;
        }
     

}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;

    & *[stroke]{
        stroke:var(--color-red-alt);
    }

    & *[fill] {
        fill:unset;
    }

}


