.header{

  
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 100%;
    color: var(--color-dark);
    z-index: 10;


    &:has(.flex-row){
       background-color: rgba(21, 148, 59, 0.5);

    }



    &__inner{
        
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        &.flex-row{
            flex-direction: row;
        



            .header__navigation-wrapper{
                background-color: unset;
                display: contents;
            }


            
          

        }


        @include tablet{
                 min-height: 80px;
                 padding-top: 10px;
                 justify-content: space-between;
                
                
        }

    }

        @include mobile{
                &.container{
                 padding-inline: 5px;
        }
      }



    &__logo{
        width: 200px;
        height: 140px;
        display: flex;
        flex-shrink: 0;
        order: 1;
        align-self: center;


        &.logo-base{
            width: 132px;
            height: 70px;
            margin-right: auto;
            display: flex;
            flex-shrink: 0;
            order: 0;
            }


        }

     

        @include tablet{
            flex-shrink: 0;
            margin-right:auto;
      
        }

    


    &__navigation-wrapper{
       
         background-color: rgba(21, 148, 59, 0.5);
         min-height: 60px;




    

    
    // &.transparent{
    //         opacity: 70%;
    // }

    // &.solid{
    //     opacity: 1;
    // }
        

        
    }


    &__container{
        display: flex;
        // align-items: center;
      //  padding-block: 10px;

    }
    &__menu{
        display: flex;


          &-item{

              @include flex-center;
              height: 100%;
             

             }

    }
 
    &__menu-list{
        display: flex;
        column-gap: 30px;
        justify-content: space-between;
        align-items: center;

        @include tablet{
            column-gap: 5px;
        }

    }

  

    &__menu-link{
            position: relative;
            display: flex;
            align-items: center;
            padding-inline:8px;
            // padding-top: 8px;
            // padding-bottom: 26px;
            line-height: 1.4;
            font-size: 16px;
            height: 100%;
            
            

            &:focus{
                &::after{
                  width: 100%;

                }
            }

            @include hover{
                // opacity: 0.7;

                &::after{
                    width: 100%;
                }
            }

            &::after{
                content: "";
                position: absolute;
                width: 0;
                height: 4px;
                bottom: 0;
                left: 50%;
                background-color: var( --color-green-alt);
                transition-duration: inherit;
                transform: translate(-50%);

            }

            @include tablet{
                padding-inline: 4px;
                @include fluid-text(14,12);
            }
          
    }

    &__button{
     
        font-size: 12px;
        margin-right: 23px;
        // line-height: 1.35;
        padding-block: 8px;
        align-self: center;
        margin-left: auto;
        flex-shrink: 0;
        

          @include tablet{
               margin-right: 0;
               padding-inline: 6px;
               @include fluid-text(12,10);
               width: unset;
               max-width: 168px;
               height: auto;
               margin-left: auto;
               flex:1;

          }

    }

    &__icons-wrapper{
        display: flex;
        align-items: center;
        justify-content:center;

    }

    &__search-button{
    

        @include tablet{
            margin-right: 0;
        }
    }

    &__icon-search{
            display: inline-flex;
            padding: 8px 7px 6px;

            @include tablet{
                padding: 4px;
                width: 26px;
                aspect-ratio: 1;
            }
         
        }

 

    &__burger-menu{
        color: #fff;
    }

}



