.modal{
    display: none;




    &.modal-show{
        display: block;
        width: 600px;
        height: 600px;
        position: fixed;
        z-index: 2;
        top: 50%;
        margin-top: -300px;
        left: 50%;
        margin-left: -300px;


        video{
            width: 600px;
            height: 600px;
        }
    }
}