.pagination{
    text-align: center;
    color: inherit;
    margin-top: auto;
    position: absolute;

    bottom: 10%;
    left:50%;
    translate: -50%;

    &__list{
        display: flex;
        column-gap: 12px;
        align-items: center;
        justify-content: center;


    }


    &__label{
        display: inline-block;
        width: 112px;
        height: 54px;
        background-color: transparent;
        border-bottom: var(--border);
        border-color: var(--color-light);
        cursor: pointer;





        // &.active{
        //     border-color: var(--color-red-alt);
        // }

        @include tablet{
            width: 80px;
        }

        @include mobile-s{
            width: 50px;
        }
    }
}



